/node_modules
/public/hot
/public/storage
/public/faz
/storage/google
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_ide_helper.php
*.DS_Store
*nohup.out
public/js/app.js.LICENSE.txt
storage/framework/laravel-excel/
/docker
/resources/js/config.js
/public/js/_pages

/public/js/_pages
/public/css/_pages
